extends ../layout

block content
  h2.admin-title Registered Users
  table.admin-table
    thead
      tr
        th ID
        th Name
        th Email
        th Role
        th Joined
    tbody
      each u in users
        tr
          td= u.id
          td= u.name
          td= u.email
          td= u.role
          td= new Date(u.created_at).toLocaleDateString()
